

$primary__color: #FE8532;
$darker__primary__color: #fd7213;
/* fonts */
$primary__font: 'PT Sans', sans-serif;
/* medias breakpoint */
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


