@media screen and (max-width: 1200px) {
  .hidden-lg {
    display: none!important;
  }
}
@media screen and (max-width: 992px) {
  .hidden-md {
    display: none!important;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none!important;
  }
}
@media screen and (max-width: 576px) {
  .hidden-xs {
    display: none!important;
  }
}